<input
    name="search"
    type="search"
    placeholder="Search for 'Word' ..."
    class="form-control"
    ng-model="searchCtrl.searchFormString"
    ng-change="searchCtrl.search()"
/>

<table ng-show="searchCtrl.search" class="table" >
    <thead>
        <tr>
            <th>Possible Matches</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="word in searchCtrl.words">
            <td ng-class="{ 'text-success': searchCtrl.wordMatch}">{{ word }}</td>
        </tr>
    </tbody>
</table>
